<%= render 'header' %>
<div class="container">
  <ul class="tutorials">
    <% @tutorials.each do |tutorial| %>
      <li>
        <span class="tutorial-title">
          <%= link_to "https://github.com/CWDG/blog/edit/master/#{tutorial.file_name}" do %>
            <%= mega_octicon('pencil') %>
          <% end %>
          <%= link_to tutorial.title, tutorial_path(tutorial) %>
        </span>
        <span class="last-updated">
          Last Synced: <%= time_ago_in_words(tutorial.updated_at) %> ago
        </span>
      </li>
    <% end %>
  </ul>
</div>
