<%= render 'header' %>
<section class="show-project">
  <div class="container">
    <%= link_to projects_path do %>
      <%= octicon('arrow-left') %> Projects
    <% end %>

    <h1><%= @project.title %></h1>
    <h2>Project Leader: <%= @project.leader.name %></h2>
    <h2>Team:</h2>
    <ul>
      <% @project.users.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ul>
    <p><%= @project.description %></p>

    <% if @project.leader == current_user %>
      <%= link_to "Edit", edit_project_path(@project) %>
    <% end %>
  </div>
</section>
